<div class="flex">
  <mat-card class="card-form">
    <mat-card-title>Cadastro de Usuários</mat-card-title>
    <mat-card-content>
      
      
      
      <form action="#" #userForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input type="text" matInput [(ngModel)]="dadosUsuario.nome" name="nome" required minlength="4" #inputNome="ngModel">
          <p *ngIf="inputNome.touched && inputNome.invalid" style="color: blueviolet">
            <span *ngIf="inputNome.errors?.['minlength']">
              Quantidade de caractéres insuficiente.
            </span>
            <span *ngIf="inputNome.errors?.['required']">
              Este campo é obrigatório.
            </span>
          </p>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sobrenome</mat-label>
          <input type="text" matInput [(ngModel)]="dadosUsuario.sobrenome" name="sobrenome" required minlength="4" #inputSobrenome="ngModel">
          <p *ngIf="inputSobrenome.touched && inputSobrenome.invalid" style="color: green">
            <span *ngIf="inputSobrenome.errors?.['minlength']">
              Quantidade de caractéres insuficiente.
            </span>
            <span *ngIf="inputSobrenome.errors?.['required']">
              Este campo é obrigatório.
            </span>
          </p>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput [(ngModel)]="dadosUsuario.email" name="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #inputEmail="ngModel">
          <p *ngIf="inputEmail.touched && inputEmail.invalid" style="color: aqua">
            <span *ngIf="inputEmail.errors?.['pattern']">
              Formato de email inválido.
            </span>
            <span *ngIf="inputEmail.errors?.['required']">
              Email obrigatório.
            </span>
          </p>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput [(ngModel)]="dadosUsuario.senha" name="senha" required minlength="4" maxlength="8" #inputSenha="ngModel">
          <p *ngIf="inputSenha.touched && inputSenha.invalid" style="color: tomato">
            <span *ngIf="inputSenha.errors?.['minlength']">
              Mínimo de 4 caractéres.
            </span>
            
            <span *ngIf="inputSenha.errors?.['required']">
              Senha obrigatória.
            </span>
          </p>
          
        </mat-form-field>
      
        <button type="submit" mat-raised-button color="primary">Cadastrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

